torch==1.13.1+cu116
torchvision==0.14.1+cu116
pathlib
mmcv-full==1.7.1
decord
ftfy
einops
termcolor
timm
regex
pandas
numpy
Pillow
requests
tqdm
wget
deepspeed==0.9.5
datasets==2.13.1
datasets==2.13.1
opencv-python==4.8.0.76
openpyxl==3.1.2
yacs==0.1.8
yapf==0.40.1
yarl==1.9.2
zipp==3.15.0
multidict==6.0.4
peft==0.3.0